body {
    max-width: 1024px;
    margin: auto;
}

#product-template {
    display: none;
}

.card {
    padding: 10px;
    margin: 5px 2px;
    display: inline-block;
}

#search-form {
    padding: 10px 0;
}

#search-container {
    display: flex;
    margin-left: 2px;
}
