body {
    max-width: 1024px;
    margin: auto;
}

#product-template {
    display: none;
}

.card {
    padding: 10px;
    margin: 5px 2px;
    display: inline-block;
}

.search-input {
    margin: 2px;
}

.search-button {
    margin: 2px 2px 2px -2px;
}