<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SnowFox Website</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
</head>
<body>
<div id="wrapper">

    <div id="page-wrapper">
        <div class="container-fluid">
            <section layout:fragment="content"></section>
        </div>
    </div>

    <footer layout:fragment="footer">
        <div class="container-fluid">
            <hr/>
            <div>SnowFox by andkantor since 2017/11/01</div>
        </div>
    </footer>

</div>

</body>
</html>
